<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>俺の猫</title>

    <link rel="stylesheet" th:href="@{/login/css/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/login/css/style.css}">

</head>
<body>
<div class="materialContainer">
<!--    DRP是DontRemeberPassword-->
    <form name="form1" method="get" enctype="multipart/form-data" th:action="@{/LAR/DRP}">
        <div class="box">
            <div class="title">忘记密码？</div>
            <p style="color: red" th:text="${userNotExist}" th:if="${not #strings.isEmpty(userNotExist)}"></p>
            <p style="color: red" th:text="${rigesterError}" th:if="${not #strings.isEmpty(rigesterError)}"></p>
            <div class="input">
                <label for="user1">用户名</label>
                <input type="text" name="user" id="user1" required>
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="password1">新密码</label>
                <input type="password" name="password" id="password1" required>
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="repassword">确认新密码</label>
                <input type="password" name="repassword" id="repassword" required>
                <span class="spin"></span>
            </div>
            <div class="button login">
                <button>
                    <span>修改</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </form>

</div>
<script th:src="@{/login/js/jquery.min.js}"></script>
<script th:src="@{/login/js/index.js}"></script>

</body>
</html>